*{
    scroll-behavior: smooth;
    color: black;
}

/*GO BACK BUTTON*/
.go-back{
    position:relative;
}

.go-back img{
  width: 40px; 
  height: auto;
  cursor: pointer;
  margin-left: 10%;
  margin-top: 3%;
}

/*Font downloaded from JetBrains: https://www.jetbrains.com/lp/mono/*/
@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-Medium.woff2');
    font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Bold.woff2') ;
  font-weight: 800;
  font-style: normal;
}
    
/*HEADER BUTTONS*/
    .howtoplay-button-container {
        font-family: 'JetBrainsMono';
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding-right: 1.5%;
        padding-left: 1.5%;
        margin-top: 25px;
        padding-bottom: 10px;
        font-size: 16px;
    }
    
    .button1, .button2, .button3 {
        display: inline-block;
        text-decoration: none; 
        border: 1.5px solid; 
        border-color: black;
        border-radius: 6px;
        padding: 5px 10px; 
        margin: 0; 
        white-space: nowrap; 
        transition: background-color 0.4s, color 0.4s, border-color 0.4s;
        color: black;
    }
    
    .button1 {
        margin-right: auto; 
    }
    
    .button2, .button3 {
        margin-left: 10px;
    }

    .button1:hover, .button2:hover, .button3:hover { /*Hoverable Buttons: https://www.w3schools.com/css/css3_buttons.asp*/
        border-color: black; /* border will turn red whenn hovered over */
        background-color: #BA1E2A;
        color: beige;
    }
    
    .button1:active, .button2:active, .button3:active {
        color: beige;
        background-color: #681017;
        border-color: black; /* border turns darker red when it's clicked */
    }

    .button1:focus, .button2:focus, .button3:focus {
      outline: 1px solid #BA1E2A; /* adds a solid outline to show focus */
      outline-offset: 1px;        /* offsets the border for button */
      background-color: #f5c6ca;  /* lighter background color to make it more noticeable */
      border-color: #BA1E2A;      
  }

  /*POINTS SYSTEM PAGE*/
    h1{
      display: flex;
      position:relative;
        font-family: "JetBrainsMono";
        text-align: center;
        justify-content: center;
        font-size: 120px;
        word-spacing:20%;
        margin-bottom: 1%;
        margin-top: -1px;
        color: black
    }


.points-paragraphs {
    display: flex;
    justify-content: center;  /* centers content horizontally */
    align-items: center;      /* centers content vertically */
    flex-direction: column;   /* ensures elements stack vertically */
    font-family: 'JetBrainsMono';
    text-align: center;       /* text is centered aligned */
    width: 100%;              /* the width in order to center it properly on the page*/
}

.points-paragraphs p {
    width: 65%; /* controls the width of the text block */
    margin: 4% auto; /* this centers item within the container */
}

.points-paragraphs p span {
    display: block;
    font-size: 14pt;
    line-height: 1.56;
    margin-bottom: 4%;
}

    .point-cards{
        position:relative;
        font-family: 'JetBrainsMono';
        font-size: 20px;
        text-align: center;
        align-items: center;
    }

    .point-cards p{
        margin-bottom: 0.5%;
        padding-top: 2%; 
        
    }

    .point-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'JetBrainsMono';
      font-size: 20px;
      text-align: center;
    }

  .point-cards p{
      margin-bottom: 0.5%;
      padding-top: 2%; 
      
  }

  /*CSS Outline: https://www.w3schools.com/css/css_outline.asp*/
  p.double {
    outline-style: double;
    outline-width: 6px;       
    outline-color: black;     
    background-color: #a8aa92;
    padding: 10px;     
   margin-top: 5%; 
    width: 50%;
    text-align: center;

  }

    /*responsive code*/
   /* How TO - Responsive Text: https://www.w3schools.com/howto/howto_css_responsive_text.asp*/
  @media only screen and (max-width: 800px) {
    .point-cards {
      font-size: 1rem;
    }
  }

    .pointcard-groups{
    margin-top: 2%;
}

   .pointcard-groups img{
    width: 150px; 
    height: auto; 
   }

     /*responsive code*/
   @media only screen and (max-width: 800px) {
    .pointcard-groups img {
      width: 14%;
    }
  }

   .backtotop {
    position: fixed;
    bottom: 9%;
    right: 7%;
}

    
    .backtotop img {
        width: 40px; 
        height: auto;
        cursor: pointer; 
    }

      /*responsive code*/
    @media only screen and (max-width: 800px) {
      .backtotop{
        right: 3%;
      }
    }
    
        
/*GAMEPLAY EXPLANATION PAGE*/

h1{
  display: flex;
  position:relative;
  font-family: 'JetBrainsMono';
    text-align: center;
    justify-content: center;
    font-size: 120px;
    word-spacing:20%;
    margin-bottom: 1%;
    margin-top: -1px;
    color: black
}

  /*responsive code*/
  /* How TO - Responsive Text: https://www.w3schools.com/howto/howto_css_responsive_text.asp*/
@media (max-width: 800px){
  h1{
    font-size: 4.2rem;
  }
}

hr {
    border: none;
    height: 3px;
    background-color: black; 
    width: 76%; /* controls how long or short the line is horizontally */
    margin-left: auto;  /* centers the line */
    margin-right: auto;
    margin-top: -3%;
  }  

  .before-playing-text{
    font-family: 'JetBrainsMono';
    line-height: 1.56;
    align-items: center; 
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

.before-playing-text span{
    font-size: 150%;
}

.before-playing-text-subheading{
    font-family: 'JetBrainsMono';
    text-align: center;
    padding-bottom: 1.5%;
}

  /*responsive code*/
@media (max-width: 800px){
  .before-playing-text{
    width: 60%;
    margin: 0 auto;
  }
}

/*FLIP CARD EFFECT*/
/* How to Create Flip Card Click Effect using only html & css: https://www.youtube.com/watch?v=dHHmFHI0pNw-->
/*Flip Checkbox by Pontus Horn: https://codepen.io/pantz/pen/vOXvYg*/
/*How TO - 3D Flip Box: https://www.w3schools.com/howto/howto_css_flip_box.asp*/
/*Modified and utilized together by Anna Oh to work with my website*/

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* creates 2 columns for the pics*/
    gap: 20px;
    width: 70%; /* width of one photo grid */
    margin: 0 auto; /* centers the photo grid on the page */
    padding-bottom: 7%;
  }
  
    /*responsive code*/
  @media only screen and (max-width: 800px) {
    .photo-grid {
      grid-template-columns: 1fr; /* photos vertical down one column */
    }
  }

  .flip-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2; /* CSS aspect-ratio Property: https://www.w3schools.com/cssref/css_pr_aspect-ratio.php 
    (makes image responsive with the images width and height) */
  }
  
  .flip-toggle {
    display: none; /* this will hide the checkbox that is used for this effect*/
  }
  
  .flip-box {
    display: block;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* the 3D flip effect */
    cursor: pointer;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* the flip effect when it's clicked */
  .flip-toggle:checked + .flip-box .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .flip-box-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* the design and styling on the back of the image when flipped */
  .flip-box-back {
    background-color: #a8aa92;
    font-family: "JetBrainsMono";
    color: black;
    transform: rotateY(180deg);
    text-align: center; 
    padding: 10px;
  }

  .how-to-play-section {
    font-family: 'JetBrainsMono';
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns: image, text */
    width: 77%;
    margin: 0 auto;
    align-items: start;
    padding-bottom: 5%;
  }
  
  .instructions li {
    font-size: 12pt;
    line-height: 1.56;
    margin-bottom: 8px;
  }

  /*responsive code*/
  @media only screen and (max-width: 800px) {
    .how-to-play-section {
      grid-template-columns: 1fr; /* photos vertical down one column */
    }
  }
  
  .organization-cards-container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .organization-cards-container p{
    font-size: 10pt;
    text-align: center;
  }

  .other-conditions {
    font-family: 'JetBrainsMono';
    font-size: 12pt;
    line-height: 1.56;
    width: 60%;
    margin: 0 auto;
  }

  .other-conditions li{
    margin-bottom: 3%;
  }

  /*BACKGROUND IMAGE*/
   html, body{ /*Comment from Frankenscarf that helped me: https://stackoverflow.com/questions/21374534/css-background-image-not-loading*/
    background-image: url(../images/background-mat-long.jpg);
    background-size: cover;
    }


  /*HOW TO USE "GO" AND "STOP" PAGE*/
  .go-stop-hr{
    border: none;
    height: 3px;
    background-color: black; 
    width: 76%; /* controls how long or short the line is horizontally */
    margin-left: auto;  /* centers the line */
    margin-right: auto; 
    margin-top: 2%;
  }  

  .stop-choice {
    font-family: 'JetBrainsMono';
    font-size: 12pt;
    line-height: 1.56;
    width: 60%;
    margin: 0 auto;
  }

  .stop-choice li{
    margin-bottom: 3%;
  }

/*FOOTERS*/
  footer{
    display: flex;
    font-family: 'JetBrainsMono';
    justify-content: flex-end;
    text-align: right;
    padding-right: 1.5%;
    margin-top: 90px;
    padding-bottom: 10px;
    }
  
    .footer-links {
      display: flex;
      justify-content: space-between;
      text-align: left;
      line-height: 130%;
      align-items: center; 
      width: 100%; 
      padding: 0 1.5%; 
    }
  
  /*BACKGROUND IMAGE*/
  html, body{ /*Comment from Frankenscar on how to apply background image, https://stackoverflow.com/questions/21374534/css-background-image-not-loading*/
    background-image: url(../images/background-mat-long.jpg);
    background-size: cover;
    }