*{
    scroll-behavior: smooth;
}

.go-back{
    position:relative;
}

.go-back img{
    width: 40px; 
    height: auto;
    cursor: pointer;
    margin-left: 120px;
    margin-top: 17px;
}

/*custom fonts: 
@font-face {
    font-family: 'Gluten-Backslant';
    src: url('/fonts/Gluten-Bold.woff');
    src: url('/fonts/Gluten-Bold.woff2');
    }

    h1{
        position:relative;
        font-family: "Gluten-Backslant";
        text-align: center;
        font-size: 110px;
        word-spacing:20%;
        margin-bottom: 15px;
        margin-top: -1px;
        color: black
    }
    */

@font-face {
    font-family: 'JetBrains-Mono';
    src: url('../fonts/JetBrains-Mono/JetBrainsMono-VariableFont_wght.ttf');
}
        h1{
          position:relative;
            font-family: 'JetBrains-Mono';
            text-align: center;
            font-size: 120px;
            word-spacing:20%;
            margin-bottom: 1%;
            margin-top: -1px;
            color: black
        }

    .points-paragraphs {
        display: flex;
        justify-content: center;  /* centers content horizontally */
        align-items: center;      /* centers content vertically */
        flex-direction: column;   /* ensures elements stack vertically */
        font-family: 'JetBrains Mono';
        text-align: center;       /* text is centered aligned */
        width: 100%;              /* the width in order to center it properly on the page*/
    }
    
    .points-paragraphs p {
        width: 65%; /* controls the width of the text block */
        margin: 4% auto; /* this centers item within the container */
    }
    
    .points-paragraphs p span {
        display: block;
        font-size: 14pt;
        line-height: 1.56;
        margin-bottom: 4%;
    }
    

    .howtoplay-button-container {
        font-family: 'JetBrains-Mono';
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding-right: 1.5%;
        padding-left: 1.5%;
        margin-top: 25px;
        padding-bottom: 10px;
        font-size: 16px;
    }
    
    .button1, .button2, .button3 {
        display: inline-block;
        text-decoration: none; 
        border: 1.5px solid; 
        border-color: black;
        border-radius: 6px;
        padding: 5px 10px; 
        margin: 0; 
        white-space: nowrap; 
        transition: background-color 0.4s, color 0.4s, border-color 0.4s;
        color: black;
    }
    
    .button1 {
        margin-right: auto; 
    }
    
    .button2, .button3 {
        margin-left: 10px;
    }

    .button1:hover, .button2:hover, .button3:hover { /*Hoverable Buttons: https://www.w3schools.com/css/css3_buttons.asp*/
        border-color: black; /* border will turn red whenn hovered over */
        background-color: #BA1E2A;
        color: beige;
    }
    
    .button1:active, .button2:active, .button3:active {
        color: beige;
        background-color: #681017;
        border-color: black; /* border turns darker red when it's clicked */
    }

    .point-cards{
        position:relative;
        font-family: 'JetBrains Mono';
        font-size: 20px;
        text-align: center;
        align-items: center;
    }

    .point-cards p{
        margin-bottom: 0.5%;
        padding-top: 2%;
        text-decoration: underline
    }

   
    .point-cards span{
        text-decoration: underline;
    }

    .pointcard-groups{
    margin-top: 35px;
}

   .pointcard-groups img{
    width: 200px; 
    height: auto; 
    margin: 6px;
    margin-top: -1%;
    margin-bottom: 4%;
   }

   .pointcard-groups p{
text-decoration: underline;
   }


    .backtotop {
        position: fixed;
        bottom: 70px;
        right: 100px;
    }
    
    .backtotop img {
        width: 40px; 
        height: auto;
        cursor: pointer; 
    }
    
        footer{
            display: flex;
            font-family: 'JetBrains-Mono';
            justify-content: flex-end;
            text-align: right;
            padding-right: 1.5%;
            margin-top: 90px;
            padding-bottom: 10px;
            font-size: 16px;
            }

            .footer-links a{
                color: black;
              }
    
    body{ /*Comment from Frankenscarf, https://stackoverflow.com/questions/21374534/css-background-image-not-loading*/
    background-image: url(../images/background-mat-long.jpg);
    background-size: cover;
    }
        
/*GAMEPLAY EXPLANATION PAGE*/
hr {
    border: none;
    height: 3px;
    background-color: black; 
    width: 76%; /* controls how long or short the line is horizontally */
    margin-left: auto;  /* centers the line */
    margin-right: auto; /* also centers the line */
    margin-top: -40;
  }  

  .before-playing-text{
    font-family: 'JetBrains-Mono';
    line-height: 1.56;
    align-items: center; 
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

.before-playing-text span{
    font-size: 150%;
}

.before-playing-text-subheading{
    font-family: 'JetBrains-Mono';
    text-align: center;
    padding-bottom: 1.5%;

}

/* How to Create Flip Card Click Effect using only html & css: https://www.youtube.com/watch?v=dHHmFHI0pNw-->
/*https://codepen.io/pantz/pen/vOXvYg*/
/*How TO - 3D Flip Box: https://www.w3schools.com/howto/howto_css_flip_box.asp-->*/

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* creates 2 columns */
    gap: 20px;
    width: 70%; /* width of one photo grid */
    margin: 0 auto; /* centers the photo grid on the page */
    padding-bottom: 7%;
  }
  
  .flip-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2; /* CSS aspect-ratio Property: https://www.w3schools.com/cssref/css_pr_aspect-ratio.php 
    (makes image responsive with the images width and height) */
  }
  
  .flip-toggle {
    display: none; /* this will hide the checkbox that is used for this effect*/
  }
  
  .flip-box {
    display: block;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* the 3D flip effect */
    cursor: pointer;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* the flip effect when it's clicked (when the hidden checkbox is checked) */
  .flip-toggle:checked + .flip-box .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  }

  
  .flip-box-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* the design and styling on the back of the image */
  .flip-box-back {
    background-color: #a8aa92;
    font-family: 'JetBrains-Mono';
    color: black;
    transform: rotateY(180deg);
    text-align: center; 
    padding: 10px;
  }

  .how-to-play-section {
    font-family: 'JetBrains-Mono';
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns: image | text */
    width: 77%;
    margin: 0 auto;
    align-items: start;
    padding-bottom: 5%;
  }
  
  .instructions li {
    font-size: 12pt;
    line-height: 1.56;
    margin-bottom: 8px;
  }
  
  .organization-cards-container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .organization-cards-container p{
    font-size: 10pt;
    text-align: center;
  }

  .other-conditions {
    font-family: 'JetBrains-Mono';
    font-size: 12pt;
    line-height: 1.56;
    width: 60%;
    margin: 0 auto;
  }

  .other-conditions li{
    margin-bottom: 3%;
  }