  
  *{
            scroll-behavior: smooth;
            
        }

        /*JetBrains: https://www.jetbrains.com/lp/mono/*/
        @font-face {
          font-family: 'JetBrainsMono';
          src: url('../fonts/JetBrainsMono-Medium.woff2');
          font-weight: 400;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'JetBrainsMono';
        src: url('../fonts/JetBrainsMono-Bold.woff2') ;
        font-weight: 800;
        font-style: normal;
      }
        h1{
          position:relative;
            font-family: 'JetBrainsMono';
            text-align: center;
            font-size: 120px;
            word-spacing:20%;
            margin-bottom: 30px;
            padding-top: 1.5%;
            margin-top: 30px;
            color: black
        }

        
*{

scroll-behavior: smooth;

}

body {
    font-family: 'JetBrainsMono';
  }

  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'JetBrainsMono';
    gap: 10px; /* adds spacing in between the items */
    width: 90%; /* keeps the container responsive */
    margin: auto; /* centers cards horizontally w desktop */
}

.cards1 {
    width: 30%; /* each card takes up 30% of the row */
    height: auto;
}

/* ensure images resize properly */
.grid-container img {
    width: 100%;  
    height: auto;  
    margin-bottom: 5%;  
}

.grid-container a {
    text-decoration: none; 
    text-align: center;
    color: black;
}

.grid-container a:hover{
  color: #BA1E2A;
  text-decoration: underline;
}

/* responsive code*/
@media only screen and (max-width: 800px) {
    .grid-container {
        flex-direction: column; /* will stack items vertically */
        align-items: center; /* center items in a column */
    }

    .cards1 {
        width: 70%; /* size when stacked */
    }
}

footer{
  display: flex;
  font-family: 'JetBrainsMono';
  justify-content: flex-end;
  text-align: right;
  padding-right: 1.5%;
  margin-top: 90px;
  padding-bottom: 10px;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center; 
    width: 100%;
    padding: 0 1.5%; 
  }


.footer-links a{
  color: black;
}

html, body{ /*Comment from Frankenscarf, https://stackoverflow.com/questions/21374534/css-background-image-not-loading*/
  background-image: url(../images/background-mat-long.jpg);
  background-size: cover;
  }