*{
    scroll-behavior: smooth;
    color:black
    
}

/*GO BACK BUTTON*/
.go-back{
    position:relative;
}

.go-back img{
    width: 40px; 
    height: auto;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 3%;
}

/*Font downloaded from JetBrains: https://www.jetbrains.com/lp/mono/*/
@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-Medium.woff2');
    font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Bold.woff2') ;
  font-weight: 800;
  font-style: normal;
}
h1 {
    font-family: "JetBrainsMono";
    font-size: 110px;
    text-align: center;
    margin: 0 auto 5%;
    color: black;
    line-height: 1.1;
    width: fit-content; /* or remove width entirely */
    word-spacing: normal; /* Try adjusting this */
}

  /*responsive code*/
  /* How TO - Responsive Text: https://www.w3schools.com/howto/howto_css_responsive_text.asp*/
  @media (max-width: 800px) {
    h1 {
        font-size: 4rem;
    }
}

      hr {
        border: none;
        height: 3px;
        background-color: black; 
        width: 76%; /* controls how long or short the line is horizontally */
        margin-left: auto;  /* centers the line */
        margin-right: auto;
        margin-top: -3%;
      }  


/*HEADER BUTTONS*/
    .resources-button-container {
        font-family: "JetBrainsMono";
        font-weight:400;
        display: flex;
        justify-content: flex-end;
        align-items: center; 
        padding-right: 1.5%;
        padding-left: 1.5%;
        margin-top: 25px;
        padding-bottom: 10px;
        font-size: 16px;
    }

      /*responsive code*/
    @media (max-width: 800px){
    .resources-button-container{
    justify-content: center;
    }
}
    
.button2, .button3, .button4 {
        display: inline-block;
        text-decoration: none; 
        border: 1.5px solid; 
        border-color: black;
        border-radius: 6px;
        padding: 5px 10px; 
        margin: 0; 
        white-space: nowrap; 
        transition: background-color 0.4s, color 0.4s, border-color 0.4s;
    }
    
    .button2, .button3, .button4 {
        margin-left: 10px;
    }

    .button2:hover, .button3:hover, .button4:hover { /*Hoverable Buttons: https://www.w3schools.com/css/css3_buttons.asp*/
        border-color: black; /* border will turn red whenn hovered over */
        background-color: #BA1E2A;
        color: beige;
    }
    
    .button2:active, .button3:active, .button4:active {
        color: beige;
        background-color: #681017;
        border-color: black; /* border turns darker red when it's clicked */
    }

    .button2:focus, .button3:focus, .button4:focus {
        outline: 1px solid #BA1E2A; /* adds a solid outline to show focus */
        outline-offset: 1px;         /* offsets the border for button */
        background-color: #f5c6ca;  /* lighter background color to make it more noticeable */
        border-color: #BA1E2A;     
    }

    h2{
        font-family: "JetBrainsMono";
        text-align: center;
        margin-top: 4%;
        margin-left: 3%;
        margin-right: 3%;
        align-items: center;
    }

    .resources-text{
        font-family: "JetBrainsMono";
        width: 80%;
        margin-bottom: 5%;
        margin: 0 auto 5%;
        line-height: 180%;
        justify-content:center;
    }

      /*responsive code*/
      @media (max-width: 800px){
        .resources-text{
            font-size: 0.8rem;
        }
      }

    .resources-text a {
        color: black;
        text-decoration: underline;
        transition: color 0.3s ease;
    }
    
    .resources-text a:hover,
    .resources-text a:focus,
    .resources-text a:active {
        color: #BA1E2A; 
        text-decoration: underline; /
    }

      /*BACKGROUND IMAGE*/
      html, body{ /*Comment from Frankenscar on how to apply background image, https://stackoverflow.com/questions/21374534/css-background-image-not-loading*/
        background-image: url(../images/background-mat-long.jpg);
        background-size: cover;
        }