*{
    scroll-behavior: smooth;
    
}

/*Font downloaded from JetBrains: https://www.jetbrains.com/lp/mono/*/
@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-Medium.woff2');
    font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Bold.woff2') ;
  font-weight: 800;
  font-style: normal;
}

h1{
  position:relative;
  line-height: 120%;
    font-family: 'JetBrainsMono';
    text-align: center;
    font-size: 110px;
    word-spacing:20%;
    margin-bottom: 15px;
    margin-top: 10px;
    color: black
}


*{

scroll-behavior: smooth;

}

body {
font-family: 'JetBrainsMono';
}

/*LEARN THE CARDS SUBPAGE*/
.learn-the-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'JetBrainsMono';
    gap: 10px;
    width: 90%; 
    margin: auto; /* centers cards horizontally w desktop */
}

.cards2 {
    width: 30%; 
    height: auto;
}

 /* will ensure images resize properly */
.learn-the-cards-container img {
    width: 100%;  
    height: auto;   
    margin-bottom: 5%; 
    margin-top: 2%;  
}

.learn-the-cards-container a {
    text-decoration: none; 
    text-align: center;
    color: black;
}

.learn-the-cards-container a:hover {
    color: #BA1E2A;
    text-decoration: underline;
}
    

/* responsive code*/
@media only screen and (max-width: 800px) {
    .learn-the-cards-container {
        flex-direction: column; /* will stack items vertically */
        align-items: center; /* center items in a column */
    }

    .cards2 {
        width: 70%; /* size when stacked */
    }
}

footer{
    display: flex;
    font-family: 'JetBrainsMono';
    justify-content: flex-end;
    text-align: right;
    padding-right: 1.5%;
    margin-top: 90px;
    padding-bottom: 10px;
    }
  
    .footer-links {
      display: flex;
      justify-content: space-between; /* pushes them to opposite sides */
      align-items: center;
      width: 100%; /* or max-width if you want */
      padding: 0 1.5%; /* add some side padding if needed */
    }

.footer-links a{
    color: black;
  }

/*SET-UP SUBPAGE*/
*{

    scroll-behavior: smooth;
    
    }
    
    body {
    font-family: 'JetBrainsMono';
    }
    .set-up-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        font-family: 'JetBrainsMono';
        gap: 10px; 
        width: 90%; 
        margin: auto; /* centers cards horizontally w desktop */
    }
    
    .ppl {
        width: 30%; 
        height: auto;
    }
    
    /* will ensure images resize properly */
    .set-up-container img {
        width: 100%;  
        height: auto;    
        margin-bottom: 15%;
        margin-top: 26%;
    }
    
    .set-up-container a {
        text-decoration: none; 
        text-align: center;
        color: black;;
    }

    .set-up-container a:hover {
        color: #BA1E2A;
        text-decoration: underline;
    }
        
    
    /* responsive code*/
    @media only screen and (max-width: 800px) {
        .set-up-container {
            flex-direction: column; /* will stack items vertically */
            align-items: center; /* center items in a column */
        }
    
        .ppl {
            width: 70%; /* size when stacked */
        }
    }

/*HOW TO PLAY SUBPAGE*/
    *{

        scroll-behavior: smooth;
        
        }
        
        body {
        font-family: 'JetBrainsMono';
        }

.how-to-play-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'JetBrainsMono';
    gap: 10px; 
    width: 90%; 
    margin: auto; /* centers cards horizontally w desktop */
}

.cards4 {
    width: 30%;
    height: auto;
}

 /* will ensure images resize properly */
.how-to-play-container img {
    width: 100%;  
    height: auto;    
    margin-bottom: 5%;  
}

.how-to-play-container a {
    text-decoration: none; 
    text-align: center;
    color: black;
}

.how-to-play-container a:hover {
    color: #BA1E2A;
    text-decoration: underline;
}

/* responsive code*/
@media only screen and (max-width: 800px) {
    .how-to-play-container {
        flex-direction: column; /* will stack items vertically */
        align-items: center; /* center items in a column */
    }

    .cards4 {
        width: 70%; /* size when stacked */
    }
}
    
    
footer{
    display: flex;
    font-family: 'JetBrainsMono';
    justify-content: flex-end;
    text-align: right;
    padding-right: 1.5%;
    margin-top: 90px;
    padding-bottom: 10px;
    }
  
    .footer-links {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center; 
      width: 100%; /* or max-width if you want */
      padding: 0 1.5%; /* add some side padding if needed */
    }
  

    /*HEADER BUTTONS*/
        .learn-cards-button-container {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            padding-right: 1.5%;
            padding-left: 1.5%;
            margin-top: 25px;
            padding-bottom: 10px;
            font-size: 16px;
    
        }
        
        .button1, .button2, .button3 {
            display: inline-block;
            text-decoration: none; 
            border: 1px solid; 
            border-color: black;
            color: black;
            border-radius: 6px;
            padding: 5px 10px; 
            margin: 0; 
        }
        
        .button1 {
            margin-right: auto; 
        }
        
        .button2, .button3 {
            margin-left: 10px;
        }

        .set-up-button-container {
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center; 
            padding-right: 1.5%;
            padding-left: 1.5%;
            margin-top: 25px;
            padding-bottom: 10px;
            font-size: 16px;
        }
        
        .button1, .button2, .button3 {
            display: inline-block;
            text-decoration: none; 
            border: 1px solid; 
            border-color: black;
            border-radius: 6px;
            padding: 5px 10px; 
            margin: 0;  
        }
        
        .button1 {
            margin-right: auto; 
        }
        
        .button2, .button3 {
            margin-left: 10px;
        }

        .button1:hover, .button2:hover, .button3:hover { /*Hoverable Buttons: https://www.w3schools.com/css/css3_buttons.asp*/
            border-color: black; /* border will turn red whenn hovered over */
            background-color: #BA1E2A;
            color: beige;
        }
        
        .button1:active, .button2:active, .button3:active {
            color: beige;
            background-color: #681017;
            border-color: black; /* border turns darker red when it's clicked */
        }

        .button1:focus, .button2:focus, .button3:focus {
            outline: 1px solid #BA1E2A; /* adds a solid outline to show focus */
            outline-offset: 1px;        /* offsets the border for button */
            background-color: #f5c6ca;  /* lighter background color to make it more noticeable */
            border-color: #BA1E2A;      
        }

        .play-button-container {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            padding-right: 1.5%;
            padding-left: 1.5%;
            margin-top: 25px;
            padding-bottom: 10px;
            font-size: 16px;
        }
        
        .button1, .button2, .button3 {
            display: inline-block; 
            text-decoration: none; 
            border: 1.5px solid; 
            border-color: black;
            border-radius: 6px;
            padding: 5px 10px; 
            margin: 0; 
            transition: background-color 0.4s, color 0.4s, border-color 0.4s;
        }
        
        .button1 {
            margin-right: auto; 
        }
        
        .button2, .button3 {
            margin-left: 10px; 
        }

        .button1:hover, .button2:hover, .button3:hover { /*Hoverable Buttons: https://www.w3schools.com/css/css3_buttons.asp*/
            border-color: black; /* border will turn red whenn hovered over */
            background-color: #BA1E2A;
            color: beige;
        }
        
        .button1:active, .button2:active, .button3:active {
            color: beige;
            background-color: #681017;
            border-color: black; /* border turns darker red when it's clicked */
        }

        .button1:focus, .button2:focus, .button3:focus {
            outline: 1px solid #BA1E2A; /* adds a solid outline to show focus */
            outline-offset: 1px;       /* offsets the border for button */
            background-color: #f5c6ca;  /* lighter background color to make it more noticeable */
            border-color: #BA1E2A;    
        }

        /*FOOTERS*/
        footer{
            display: flex;
            font-family: 'JetBrainsMono';
            justify-content: flex-end;
            text-align: right;
            padding-right: 1.5%;
            margin-top: 90px;
            padding-bottom: 10px;
            }
          
            .footer-links {
              display: flex;
              justify-content: space-between;
              text-align: left;
              line-height: 130%;
              align-items: center; 
              width: 100%; 
              padding: 0 1.5%; 
            }

  /*BACKGROUND IMAGE*/
        html, body{ /*Comment from Frankenscar on how to apply background image, https://stackoverflow.com/questions/21374534/css-background-image-not-loading*/
            background-image: url(../images/background-mat-long.jpg);
            background-size: cover;
            }